nav {
    background-color: #000;
    transition: 0.4s linear;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


.nav-link {
    position: relative;
    font-family: BwMitga-Bold;
    transition: 0.3s;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
}

.nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #ebcd86;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0% 50%;
}

.nav-link:hover::after {
    transform: scaleX(1);
}



/* Sidebar */

aside {
    background-color: white;
    height: 100vh;
    width: 100%;
    font-family: BwMitga-Bold;
    
}
.sidebar-link.active {
    color: #ebcd86;
}

/* Footer */
footer {
    background-color: #000;
}

.footer-link:hover {
    color: #ebcd86;
    transition: .4s;
}